$background-color: black;
$link-color: rgb(212, 212, 212);
$copy-color: #555252;
$link-hover: #b9b9b9;
$date-color: rgb(218, 23, 23);
$location-color: rgb(122, 162, 213);
$button-color: rgb(135, 9, 9);
