* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container-best-perf {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-best-perf {
    &.container-best-perf-1 {
        background-image: url(../../images/BestPerformances/background-bestperformances.jpg);
    }

    &.container-best-perf-2 {
        background-image: url(../../images/BestPerformances/queen.jpg);
    }
    &.container-best-perf-3 {
        background-image: url(../../images/BestPerformances/james-taylor.jpg);
    }
    &.container-best-perf-4 {
        background-image: url(../../images/BestPerformances/acdc.jpg);
    }
    &.container-best-perf-5 {
        background-image: url(../../images/BestPerformances/barao-vermelho.jpg);
    }
    &.container-best-perf-6 {
        background-image: url(../../images/BestPerformances/guns.jpg);
    }
    &.container-best-perf-7 {
        background-image: url(../../images/BestPerformances/redhot.jpg);
    }
    &.container-best-perf-8 {
        background-image: url(../../images/BestPerformances/iron-maiden.jpg);
    }
    &.container-best-perf-9 {
        background-image: url(../../images/BestPerformances/stevie.jpg);
    }
    &.container-best-perf-10 {
        background-image: url(../../images/BestPerformances/capital.jpg);
    }
    &.container-best-perf-11 {
        background-image: url(../../images/BestPerformances/aerosmith.jpg);
    }
}

/* Header CSS */
.header-best-perf {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    padding-top: 5px;
    margin-left: 0px;
}

/* Main Page CSS */
.main-page-best-perf {
    margin-top: 100px;
    font-family: "Roboto", sans-serif;
}

.icon-home-best-perf {
    width: 70px;
    padding-bottom: 20px;
}

.title-main-page-best-perf {
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    font-weight: 500;
}

.subtitle-main-page-best-perf {
    background-color: rgba($color: white, $alpha: 0.9);
    color: rgb(57, 57, 57);
    margin-top: 80px;
    font-size: 25px;
}

.arrow-down-best-perf-main-page {
    display: inline-block;
    width: 90px;
    margin-top: 130px;
}

/* Intro CSS */
.intro-best-perf {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.img-intro-item1-best-perf {
    width: 300px;
}

.legend-intro-item1-best-perf {
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.description1-intro-item2-best-perf {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    width: 570px;
    text-align: left;
}

.description2-intro-item2-best-perf {
    background-color: rgba($color: white, $alpha: 0.9);
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 570px;
    text-align: left;
    color: black;
    padding: 3px 10px;
    margin-top: 30px;
}

/* Best Performances Pages*/

.title-items-best-perf {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 35px;
    font-weight: 500;
}

.btn-intro-best-perf-red {
    background-color: black;
    color: white;
    border: 2px white solid;

    &:hover {
        color: white;
        border: 2px white solid;
        background-color: rgb(144, 33, 33);
    }
}

.btn-intro-best-perf-blue {
    background-color: black;
    color: white;
    border: 2px white solid;

    &:hover {
        color: white;
        border: 2px white solid;
        background-color: rgb(70, 134, 152);
    }
}

.offcanvas-box {
    background-color: #212529;
}

.offcanvas-title-best-perf-red {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-left: 8px;
    color: rgb(190, 43, 43);
}

.offcanvas-title-best-perf-blue {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-left: 8px;
    color: rgb(107, 199, 225);
}

.offcanvas-description {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

.btn-offcanvas-best-perf-red {
    background-color: black;
    color: rgb(255, 60, 60);
    border: 2px white solid;
    margin-right: 50px;

    &:hover {
        color: white;
        border: 2px white solid;
        background-color: rgb(144, 33, 33);
    }
}

.btn-offcanvas-best-perf-blue {
    background-color: black;
    color: rgb(107, 199, 225);
    border: 2px white solid;
    margin-right: 50px;

    &:hover {
        color: white;
        border: 2px white solid;
        background-color: rgb(70, 134, 152);
    }
}

/* Download Page*/
.download-text-best-perf {
    background-color: black;
    padding-top: 240px;
    padding-bottom: 240px;
}

#button-download-best-perf-2 {
    margin-left: 10px;
}

.arrow-down-best-perf-intro {
    display: inline-block;
    width: 90px;
    margin-top: 20px;
}

.btn-click-2 {
    &:hover {
        background-color: $button-color;
        color: white;
    }
}

/* Footer Best Performances Pages*/
.footer-best-perf {
    background-color: black;
    min-height: 80px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn-back-to-top-best-perf {
    font-family: "Roboto Condensed";
    font-weight: 300;
    color: white;
    border: 2px white solid;
    background-color: black;

    &:hover {
        background-color: white;
        color: black;
        border: 2px transparent solid;
        font-weight: 700;
    }
}

/* Media Query*/

@media (max-width: 880px) {
    .description1-intro-item2-best-perf {
        text-align: center;
    }

    .description2-intro-item2-best-perf {
        text-align: center;
    }

    .main-page-best-perf {
        margin-top: 200px;
    }

    .container-best-perf {
        min-height: 800px;
        margin-bottom: 80px;
    }

    .container-best-perf {
        &.container-best-perf-1 {
            background-image: url(../../images/BestPerformances/background-bestperformances-vertical.jpg);
        }
        &.container-best-perf-2 {
            background-image: url(../../images/BestPerformances/queen-vertical.jpg);
        }
        &.container-best-perf-3 {
            background-image: url(../../images/BestPerformances/james-taylor-vertical.jpg);
        }
        &.container-best-perf-14 {
            background-image: url(../../images/BestPerformances/acdc-vertical.jpg);
        }
        &.container-best-perf-5 {
            background-image: url(../../images/BestPerformances/barao-vertical2.jpg);
        }
        &.container-best-perf-6 {
            background-image: url(../../images/BestPerformances/guns-vertical.jpg);
        }
        &.container-best-perf-7 {
            background-image: url(../../images/BestPerformances/redhot-vertical.jpg);
        }
        &.container-best-perf-8 {
            background-image: url(../../images/BestPerformances/iron-maiden-vertical.jpg);
        }
        &.container-best-perf-9 {
            background-image: url(../../images/BestPerformances/stevie-vertical.jpg);
        }
        &.container-best-perf-10 {
            background-image: url(../../images/BestPerformances/capital-vertical.jpg);
        }
        &.container-best-perf-11 {
            background-image: url(../../images/BestPerformances/aerosmith-vertical.jpg);
        }
    }

    .offcanvas-box {
        background-color: white;
        color: black;
    }

    .offcanvas-title {
        font-weight: 700;
    }

    .offcanvas-description {
        font-weight: 500;
    }

    .offcanvas-button {
        background-color: black;
        color: white;
        border: solid 2px black;

        &:hover {
            background-color: $button-color;
            color: white;
            border: solid 2px $button-color;
        }
    }
}

@media (max-width: 600px) {
    .intro-best-perf {
        padding-top: 150px;
        padding-bottom: 120px;
    }
    .description1-intro-item2-best-perf {
        width: 400px;
    }

    .description2-intro-item2-best-perf {
        width: 400px;
    }
}

@media (max-width: 522px) {
    .download-text-best-perf {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer-best-perf {
        margin-bottom: 20px;
    }

    #button-download-best-perf {
        margin-top: 10px;
    }

    #button-download-best-perf-2 {
        margin-top: 10px;
        margin-left: 0px;
    }
}

@media (max-width: 430px) {
    .intro-best-perf {
        margin-bottom: 200px;
    }

    .description1-intro-item2-best-perf {
        width: 300px;
    }

    .description2-intro-item2-best-perf {
        width: 300px;
    }

    .container-best-perf {
        &.container-best-perf-1 {
            background-image: url(../../images/BestPerformances/background-bestperformances-vertical2.jpg);
        }
        &.container-best-perf-2 {
            background-image: url(../../images/BestPerformances/queen-vertical2.jpg);
        }
        &.container-best-perf-3 {
            background-image: url(../../images/BestPerformances/james-taylor-vertical2.jpg);
        }
        &.container-best-perf-14 {
            background-image: url(../../images/BestPerformances/acdc-vertical3.jpg);
        }
        &.container-best-perf-5 {
            background-image: url(../../images/BestPerformances/barao-vertical3.jpg);
        }
        &.container-best-perf-6 {
            background-image: url(../../images/BestPerformances/guns-vertical2.jpg);
        }
        &.container-best-perf-7 {
            background-image: url(../../images/BestPerformances/redhot-vertical2.jpg);
        }
        &.container-best-perf-8 {
            background-image: url(../../images/BestPerformances/iron-maiden-vertical2.jpg);
        }
        &.container-best-perf-9 {
            background-image: url(../../images/BestPerformances/stevie-vertical2.jpg);
        }
        &.container-best-perf-10 {
            background-image: url(../../images/BestPerformances/capital-vertical2.jpg);
        }
        &.container-best-perf-11 {
            background-image: url(../../images/BestPerformances/aerosmith-vertical2.jpg);
        }
    }
}

@media (max-width: 392px) {
    .my-logo {
        width: 150px;
    }

    .img-intro-item1-best-perf {
        width: 220px;
    }

    .description1-intro-item2-best-perf {
        width: 250px;
    }

    .description2-intro-item2-best-perf {
        width: 250px;
    }

    .title-items-best-perf {
        font-size: 20px;
    }

    .offcanvas-box {
        background-color: white;
        color: black;
    }
}

@media (max-width: 358px) {
    .footer-best-perf {
        height: 90px;
        margin-bottom: 25px;
    }
}

@media (max-width: 320px) {
    .title-items-best-perf {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
    }

    #button-back-to-top {
        margin-left: -32px;
    }

    .offcanvas-box {
        max-width: 220px;
    }
}
